.character {
    float: left;
    width: 200px;
    height:200px;
    border: solid 1px blue;
    display: table;
    text-align: center;
}

.first {
    clear: both;
}

.charImg {
    width: auto;
    height: 150px;
}
.name {
    font-size: 20px;
}

.player {
    background-color: green;
}

.enemy {
    background-color: tomato;
}

.defender {
    background-color: slategrey;
}